@use "./components/header";
@use "./components/benefits";
@use "./components/build";
@use "./components/footer";

:root {
  --color-pink: hsl(322, 100%, 66%);
  --color-pale-cyan: hsl(193, 100%, 96%);
  --color-dark-cyan: hsl(192, 100%, 9%);
  --color-gray-blue: hsl(208, 11%, 55%);
  --color-white: #fff;

  --fs-1: 2.5rem;
  --fs-2: 2rem;
  --fs-3: 1.75rem;
  --fs-4: 1.125rem;
  --fs-5: 0.875rem;

  --line-height-p: 1.6875rem;

  --ff-heading: "Poppins", sans-serif;
  --ff-body: "Open Sans", sans-serif;

  --fw-heading: 600;
  --fw-body-1: 400;
  --fw-body-2: 700;
}

*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-family: var(--ff-body);
  font-weight: var(--fw-body-1);
  color: var(--color-gray-blue);
}
