.build {
  max-width: 50rem;
  margin: 0 auto;
  width: 90%;
  text-align: center;
  border-radius: 2rem;
  padding: 5rem;
  box-shadow: 0px 0px 5px 5px rgba(0, 0, 0, 0.25);
  background-color: var(--color-white);
  transform: translateY(50%);

  &__heading {
    font-size: var(--fs-2);
    font-family: var(--ff-heading);
    color: var(--color-dark-cyan);
    margin-bottom: 1.75rem;
  }

  &__cta {
    display: inline-block;
    background-color: var(--color-pink);
    text-decoration: none;
    color: var(--color-white);
    font-weight: var(--fw-body-2);
    font-size: var(--fs-4);
    padding: 2rem 6.57rem;
    border-radius: 5rem;
  }
}
